@import "../../_variables"

article
	width: 15vw
	margin: 10px
	overflow: hidden

	background-color: #fafafa
	border-bottom: solid 2px $base
	box-shadow: 0 3px 3px #ccc

	small
		position: relative
		top: -90px
		font-size: 1ex
		background: whitesmoke
		border-radius: 5px
		border: solid 2px goldenrod
		padding: 5px

	img
		width: 100%

	header
		background-color: #f3f3f3
		text-align: center
		font-size: 24px
		height: 3ex
		padding: 5px
