header
	height: 10vh
	padding: 7px
	display: flex
	align-items: center
	justify-content: space-between

	font-size: 1ex
	border:
		left:  solid 5px goldenrod
		right: solid 5px goldenrod
	background-color: #eee
	box-shadow: 0 3px 3px #ccc

	img
		height: 100%

	h2
		flex-grow: 1
		text-align: right
