<header>
	<img src="./assets/logo.png" alt="JuliePro's logo">
	<h1>
		JuliePro&trade; Music
		<div style="font-size: 10px">The best tunes. Limitless potential.</div>
	</h1>
	<h2>Explore your potential. Discover the JuliePro&trade; signature collection.</h2>
</header>

<main>
	<aside>
		<h3>Search</h3>
		<div>
			<input type="text" placeholder="Search for artist..." [(ngModel)]="query" />
			<button (click)="getArtist(query)">Search</button>
		</div>

		<hr>

		<h3>Fauxes</h3>
		<div>
			<a routerLink="/vulpes-vulpes">Red Faux</a><br>
			<a routerLink="/vulpes-lagopus">Artix Faux</a>
			<router-outlet></router-outlet>
		</div>

		<hr />

		<h3>Tracks</h3>
		<div>
			<ul>
				<li *ngFor="let track of currentTracks">{{track}}</li>
			</ul>
		</div>
	</aside>

	<section>
		<app-artist-card *ngFor="let album of currentAlbums" [album]="album" (click)="getTracks(album)"></app-artist-card>
	</section>

	<app-modal-dialog id="dialog" title="Dummy Notice" message="No message."></app-modal-dialog>
</main>
